* {
  background-color: #4d4d4d;
    margin: 0;
    padding: 0;
    box-sizing: 0;   
}
/*============FAIXA-DE-CIMA=======================*/
.faixa-de-cima {
  background-color: #000;
  width: 100%;
  height: 55px;
  position:absolute;
  top: 0;
  float: left;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ff0048,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  opacity: 1;
  animation: Brilho 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  width: calc(100% + 8px);
  height: 55px;
  background-size: 600%;
}
.faixa-preta {
  width: 100%;
  height: 50px;
  background-color: #000;
  top: 2px;
  position: absolute;
}
/*=================================================*/
.Alinhamento {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px auto;
}
/*--------BOTÃO 1-----------*/
.bt1 {
  position: relative;

  padding: 10px 40px;
  border-radius: 90px;
  color: #fff;
  cursor: pointer;
  z-index: 0;
  outline: none;
}
.bt1::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 3px;
}

.bt1::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ff0048,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  filter: blur(9px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  animation: Brilho 20s linear infinite;
}

/*Animação-do-gradiente*/ 


@keyframes Brilho {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*----------------------------------------------------*/

/*===================BOTÃO 2======================*/

.bt2 {
  position: relative;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 25px auto;
  color: #fff;
  cursor: pointer;
  z-index: 0;
  outline: none;
  top: 30%;
}
.bt2::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 3px;
}

.bt2::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ff0048,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  filter: blur(9px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  animation: Brilho 20s linear infinite;
}

/*Animação-do-gradiente-.bt2*/ 
/*=========interação se clicar===============*/

.bt2:hover::before {
  opacity: 1;
}

.bt2:active:after {
  background: transparent;
}

.bt2:active {
  color: #000;
  font-weight: bold;
}

/*-------------BOTÃO 3---------------*/

.bt3 {
  position: relative;

  width: 70px;
  height: 70px;
  border-radius: 70%;
  color: #fff;
  cursor: pointer;
  z-index: 0;
  outline: none;
}
.bt3::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.bt3::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ff0048,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  filter: blur(9px);
  width: calc(100% + 9px);
  height: calc(100% + 9px);
  border-radius: 70%;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  animation: Brilho 20s linear infinite;
}

/*-------------BOTÃO-4--------------*/


.bt4 {
  position: relative;
  margin-top: 35%;
  width: 70px;
  height: 70px;
  border-radius: 70%;
  color: #fff;
  cursor: pointer;
  z-index: 0;
  outline: none;
}
.bt4::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.bt4::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ff0048,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  filter: blur(9px);
  width: calc(100% + 9px);
  height: calc(100% + 9px);
  border-radius: 70%;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  animation: Brilho 20s linear infinite;
}

.bt4:hover::before {
  opacity: 1;
}

.bt4:active:after {
  background: transparent;
}

.bt4:active {
  color: #000;
  font-weight: bold;
}
